<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block head %}
            {% embed '@Test/head.html.twig' %}{% endembed %}
        {% endblock %}

        <title>{{ head_title }}</title>

        {% block styles %}
            {% embed '@Test/styles.html.twig' %}{% endembed %}
        {% endblock %}

        {% block scripts %}
            {% embed '@Test/scripts.html.twig' %}{% endembed %}
        {% endblock %}
    </head>
    <body>
        {% block page_top %}
            {% embed '@Test/page_top.html.twig' %}{% endembed %}
        {% endblock %}

        {% block page %}
            {% embed '@Test/page.html.twig' %}{% endembed %}
        {% endblock %}

        {% block page_bottom %}
            {% embed '@Test/page_bottom.html.twig' %}{% endembed %}
        {% endblock %}
    </body>
</html>
